@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@200;300&family=Redressed&family=Rubik+Wet+Paint&family=Yanone+Kaffeesatz:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: auto;
  /* padding: 5%; */
  background: #fff;
  /* position: relative; */
}
.gambar {
  margin: auto;
  width: 90%;
  max-width: 500px;
  padding-top: 50px;
  /* position: absolute;
  top: 80px; */
  /* bottom: 100px; */
  box-shadow: 10px, 10px, 10px, rgba(0, 0, 0, 0.8);
}
.gambar img {
  width: 100%;
  background-position: center;
  background-size: cover;
}
.content {
  margin: auto;
  /* position: relative; */
  width: 80%;
  /* margin-top: 300px; */
  text-align: center;
}
h1 {
  margin-bottom: -20px;
  font-weight: 600;
}
p {
  font-size: 12px;
  margin-bottom: 40px;
}
.btn-tmbl {
  width: 100%;
  padding: 20px 60px;
  text-decoration: none;
  color: #fff;
  background: #0f3d18;
  border-radius: 40px;
  outline: none;
  border: none;
  opacity: 0.9;
}
span {
  display: flex;
  justify-content: center;
}
.icon {
  width: 30px;
  margin-top: 40px;
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
